.tree(data-id=tree._id.toString(), class=treeHelper.getClass(tree.height), class=tree.isHealthy ? 'alive' : 'dead', class=tree.isChopped ? 'chopped' : 'unchopped')
  button#grow Grow
  button#chop Chop
  .height= tree.height
